html, body {
  margin: 0;
  height: 100%; }

* {
  font-family: "Rajdhani", sans-serif; }

::selection {
  background: #495c67;
  color: white; }

::-moz-selection {
  background: #495c67;
  color: white; }

.navigation {
  width: 100%;
  height: 80px;
  background: transparent;
  font-weight: bold;
  position: fixed;
  z-index: 10;
  transition: .4s; }
  .navigation .logoDiv img {
    width: 150px;
    margin-top: 15px; }
  .navigation .links ul li {
    display: inline-block;
    padding: 25px;
    color: white;
    font-size: 19px;
    cursor: pointer;
    position: relative; }
    .navigation .links ul li .submenu {
      width: 100%;
      padding: 15px 3px;
      position: absolute;
      background: #495c67;
      top: 80px;
      display: none;
      text-align: center;
      left: 0; }
      .navigation .links ul li .submenu:before {
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        background: #495c67;
        position: absolute;
        left: 50%;
        top: -10px;
        z-index: -1;
        transform: translate(-50%) rotate(45deg); }
      .navigation .links ul li .submenu ul {
        padding: 5px; }
        .navigation .links ul li .submenu ul li {
          color: white !important;
          font-size: 14px;
          font-weight: 500;
          padding: 0;
          padding-bottom: 5px; }
          .navigation .links ul li .submenu ul li:after {
            background: white !important; }
    .navigation .links ul li:hover:after {
      width: 100%; }
    .navigation .links ul li:after {
      content: "";
      display: block;
      width: 0;
      height: 3px;
      background: white;
      margin: auto;
      transition: .4s; }
  @media (max-width: 992px) {
    .navigation .links {
      display: none; } }
  .navigation .burgerParent {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    position: relative; }
    @media (min-width: 992px) {
      .navigation .burgerParent {
        display: none; } }
    .navigation .burgerParent .burger {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 19px;
      cursor: pointer; }
      .navigation .burgerParent .burger .burger1, .navigation .burgerParent .burger .burger2, .navigation .burgerParent .burger .burger3 {
        width: 30px;
        height: 3px;
        background: white;
        position: absolute;
        border-radius: 9px; }
      .navigation .burgerParent .burger .burger2 {
        top: 8px; }
      .navigation .burgerParent .burger .burger3 {
        top: 16px; }

.mobileMenu {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 100%;
  background: #495c67;
  z-index: 7; }
  .mobileMenu ul {
    list-style: none;
    margin-top: 100px;
    position: absolute;
    top: 35%;
    transform: translate(0, -50%); }
    .mobileMenu ul .activeLink:after {
      width: 100px !important; }
    .mobileMenu ul li {
      font-size: 40px;
      color: white;
      margin-bottom: 15px; }
      .mobileMenu ul li:after {
        content: "";
        display: block;
        width: 0;
        height: 3px;
        background: #0E74B7; }

.whiteAfter:after {
  background: #0E74B7 !important; }

.blueBurger {
  background: #0E74B7 !important; }

#proizvodiHeader {
  background-position: 0 -200px !important; }
  @media (max-width: 992px) {
    #proizvodiHeader {
      background-position: 0 0 !important; } }

.header {
  width: 100%;
  height: 100vh;
  background-size: cover !important;
  background-position: center !important;
  background-attachment: fixed !important;
  position: relative; }
  @media (max-width: 992px) {
    .header {
      background-attachment: scroll !important; } }
  .header .filter {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(-25deg, rgba(30, 154, 166, 0.8) 60%, #0e74b7 100%); }
    .header .filter .headerTitle {
      position: absolute;
      top: 50%;
      left: 50%;
      padding: 5px;
      text-align: center;
      transform: translate(-50%, -50%); }
      .header .filter .headerTitle h1, .header .filter .headerTitle p {
        color: white; }
      .header .filter .headerTitle h1 {
        font-weight: bold;
        font-size: 60px; }
      .header .filter .headerTitle p {
        font-size: 25px; }
      @media (max-width: 992px) {
        .header .filter .headerTitle {
          width: 100%; }
          .header .filter .headerTitle h1 {
            font-size: 45px; }
          .header .filter .headerTitle p {
            font-size: 20px; } }

.aboutHeader, .kontaktHeader {
  height: 60vh;
  background-repeat: no-repeat !important; }

.section {
  width: 100%;
  padding: 140px 0;
  text-align: center; }
  @media (max-width: 992px) {
    .section {
      padding: 70px 0 !important; } }
  .section .title {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    color: #495c67;
    margin-bottom: 50px; }
    .section .title:after {
      content: "";
      display: block;
      background: #0E74B7;
      margin: auto;
      margin-top: 30px;
      width: 100px;
      height: 4px; }
  .section p {
    font-weight: 600;
    font-size: 18px; }
  .section .box {
    width: 100%;
    padding: 30px 10px;
    background: rgba(255, 255, 255, 0.13);
    margin-bottom: 20px;
    text-align: center;
    height: 295px;
    cursor: pointer;
    transition: .4s; }
    .section .box:hover {
      background: #0E74B7; }
    .section .box h3 {
      color: white;
      font-weight: 600;
      margin-top: 30px; }
    .section .box p {
      font-weight: 200;
      margin-top: 10px; }

.aboutSection p {
  text-align: left;
  margin-bottom: 40px; }

.proizvodiSection p {
  margin-bottom: 80px; }

.proizvodiSection ul {
  list-style: none;
  padding: 0;
  margin: auto; }
  .proizvodiSection ul li {
    font-size: 18px;
    display: inline-block;
    cursor: pointer;
    margin-left: 15px; }
    .proizvodiSection ul li .box {
      width: 240px;
      height: auto;
      background: #495c67; }
      .proizvodiSection ul li .box h3 {
        font-size: 22px; }

.kontaktSection form input, .kontaktSection form textarea {
  width: 100%;
  padding: 10px 10px;
  outline: none;
  color: white;
  background: transparent;
  border: unset;
  border-bottom: 3px solid #0E74B7; }

.kontaktSection form textarea {
  margin-bottom: 20px; }

.kontaktSection form ::placeholder {
  color: white; }

.kontaktSection form button {
  padding: 10px 30px;
  background: linear-gradient(to left, rgba(30, 154, 166, 0.8) 60%, #0e74b7 100%);
  outline: none;
  border: unset;
  cursor: pointer;
  color: white; }

.kontaktSection .basicInfo {
  position: relative;
  padding-top: 50px; }
  .kontaktSection .basicInfo ul {
    list-style: none;
    width: 100%;
    text-align: left; }
    .kontaktSection .basicInfo ul li {
      margin-bottom: 15px; }
      .kontaktSection .basicInfo ul li img {
        display: inline-block;
        width: 50px; }
      .kontaktSection .basicInfo ul li p {
        display: inline-block;
        margin-left: 15px;
        font-size: 22px; }
    @media (max-width: 992px) {
      .kontaktSection .basicInfo ul {
        margin-left: -30px; }
        .kontaktSection .basicInfo ul li {
          text-align: center; }
          .kontaktSection .basicInfo ul li p {
            display: block;
            margin-top: 10px; } }

.kontaktHeader {
  position: relative; }

.gallery ul {
  padding: 0;
  list-style: none;
  text-align: left; }
  @media (max-width: 992px) {
    .gallery ul {
      text-align: center; } }
  .gallery ul li {
    display: inline-block;
    cursor: pointer;
    margin-left: 15px;
    margin-bottom: 30px; }
    @media (max-width: 992px) {
      .gallery ul li {
        margin-left: 0; } }
    .gallery ul li .wrapper {
      background: #0E74B7; }
      .gallery ul li .wrapper .image {
        width: 250px;
        height: 250px;
        background-size: cover !important;
        background-repeat: no-repeat !important; }
      .gallery ul li .wrapper p {
        text-align: center;
        padding: 15px;
        color: white; }

.ukratkoDiv {
  padding: 200px 0; }
  .ukratkoDiv button {
    padding: 5px 20px;
    outline: none;
    border: unset;
    color: white;
    cursor: pointer;
    font-size: 24px;
    margin-top: 40px;
    background: linear-gradient(to left, rgba(30, 154, 166, 0.8) 60%, #0e74b7 100%);
    background-size: 200% 200%; }

.gradient {
  animation: Animation 5s infinite !important;
  -webkit-animation: Animation 5s infinite !important; }

@-webkit-keyframes Animation {
  0% {
    background-position: 100% 0%; }
  50% {
    background-position: 35% 100%; }
  100% {
    background-position: 10% 0%; } }

@-moz-keyframes Animation {
  0% {
    background-position: 10% 0%; }
  50% {
    background-position: 91% 100%; }
  100% {
    background-position: 10% 0%; } }

@keyframes Animation {
  0% {
    background-position: 10% 0%; }
  50% {
    background-position: 91% 100%; }
  100% {
    background-position: 10% 0%; } }

.coloredSection {
  background: linear-gradient(90deg, #313e46 0%, #627988 100%); }
  .coloredSection h1 {
    color: white !important; }
    .coloredSection h1:after {
      background: white !important; }
  .coloredSection p {
    color: white !important; }

.error input, .error textarea {
  border-bottom: 3px solid #ff4c4c !important; }

.error p {
  margin-top: 5px;
  text-align: left !important;
  color: #ff4c4c !important; }

.activeLink:after {
  width: 100% !important; }

#map {
  width: 100%;
  height: 400px; }

.footer {
  padding: 20px;
  background: #0E74B7;
  text-align: center; }
  .footer p {
    color: white;
    margin-top: 10px; }

.mouse_scroll {
  display: block;
  margin: 0 auto;
  width: 24px;
  height: 100px;
  position: absolute;
  bottom: -175px;
  left: 50%;
  transform: translate(-50%); }
  @media (max-width: 992px) {
    .mouse_scroll {
      bottom: -150px; } }

.m_scroll_arrows {
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 4px;
  width: 16px;
  height: 16px; }

.unu {
  margin-top: 1px; }

.unu, .doi, .trei {
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite; }

.unu {
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate; }

.doi {
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  margin-top: -6px; }

.trei {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  margin-top: -6px; }

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid white;
  top: 170px; }

.wheel {
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;
  height: 4px;
  width: 4px;
  border: 2px solid #fff;
  -webkit-border-radius: 8px;
  border-radius: 8px; }

.wheel {
  -webkit-animation: mouse-wheel 1s linear infinite;
  -moz-animation: mouse-wheel 1s linear infinite; }

@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px); } }

@-moz-keyframes mouse-wheel {
  0% {
    top: 1px; }
  25% {
    top: 2px; }
  50% {
    top: 3px; }
  75% {
    top: 2px; }
  100% {
    top: 1px; } }

@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0; }
  50% {
    opacity: .5; }
  100% {
    opacity: 1; } }

@-moz-keyframes mouse-scroll {
  0% {
    opacity: 0; }
  50% {
    opacity: .5; }
  100% {
    opacity: 1; } }

@-o-keyframes mouse-scroll {
  0% {
    opacity: 0; }
  50% {
    opacity: .5; }
  100% {
    opacity: 1; } }

@keyframes mouse-scroll {
  0% {
    opacity: 0; }
  50% {
    opacity: .5; }
  100% {
    opacity: 1; } }

.loginContainer {
  width: 100%;
  height: 100vh;
  background: linear-gradient(-25deg, rgba(30, 154, 166, 0.8) 60%, #0e74b7 100%);
  position: relative; }
  .loginContainer .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    .loginContainer .content img {
      width: 150px; }
    .loginContainer .content form {
      margin-top: 50px; }
      .loginContainer .content form input {
        border: unset;
        border-bottom: 2px solid white;
        padding: 5px 10px;
        background: transparent;
        outline: none;
        color: white; }
        .loginContainer .content form input::placeholder {
          color: white; }
      .loginContainer .content form button {
        width: 100%;
        cursor: pointer;
        padding: 5px;
        outline: none;
        border: unset;
        background: #495c67;
        color: white; }

.proizvodiKupci {
  padding: 50px 0;
  overflow-x: hidden; }
  .proizvodiKupci .categories ul {
    list-style: none; }
    .proizvodiKupci .categories ul li {
      padding: 10px;
      background: #495c67;
      margin-top: 10px;
      color: white;
      cursor: pointer;
      text-align: center;
      font-size: 22px;
      transition: .2s; }
      .proizvodiKupci .categories ul li:first-letter {
        text-transform: uppercase; }
      .proizvodiKupci .categories ul li:hover {
        background: #0E74B7; }
  .proizvodiKupci .proizvodiList {
    list-style: none; }
    .proizvodiKupci .proizvodiList li {
      display: inline-block;
      margin: 10px; }
      .proizvodiKupci .proizvodiList li .box {
        width: 300px;
        overflow: hidden;
        padding: 5px;
        cursor: pointer;
        background: #0E74B7;
        text-align: center; }
      .proizvodiKupci .proizvodiList li .image {
        width: 100%;
        height: 150px;
        margin-bottom: 10px;
        background-size: cover !important;
        background-position: center !important;
        background-repeat: no-repeat !important; }
      .proizvodiKupci .proizvodiList li h4 {
        color: white; }
      .proizvodiKupci .proizvodiList li p {
        color: white; }
      .proizvodiKupci .proizvodiList li button {
        padding: 5px 20px;
        border: 2px solid white;
        background: transparent;
        color: white;
        cursor: pointer;
        transition: .4s;
        margin-bottom: 10px; }
        .proizvodiKupci .proizvodiList li button:hover {
          background: white;
          color: #495c67; }

.searchInput {
  padding: 5px 10px;
  margin-left: 50px;
  margin-top: 8px;
  outline: none;
  margin-bottom: 20px;
  border: 3px solid #495c67; }

.orderPopup {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  overflow-y: scroll;
  z-index: 1111;
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.8); }
  .orderPopup .content {
    position: absolute;
    padding: 20px 5px;
    width: 50%;
    background: #495c67;
    left: 50%;
    margin-bottom: 40px;
    transform: translate(-50%, 5%); }
    @media (max-width: 992px) {
      .orderPopup .content {
        width: 90%; } }
    .orderPopup .content .closeBtn {
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer; }
      .orderPopup .content .closeBtn img {
        width: 42px; }
    .orderPopup .content h2 {
      color: white;
      text-align: center;
      margin-bottom: 50px; }
      @media (max-width: 992px) {
        .orderPopup .content h2 {
          margin-top: 45px; } }
    .orderPopup .content form {
      padding: 0 20px;
      text-align: center; }
      .orderPopup .content form select {
        width: 100%;
        padding: 5px 20px;
        background: transparent;
        border: unset;
        border-bottom: 2px solid white;
        color: white;
        outline: none;
        margin-bottom: 20px;
        margin-top: 5px; }
        .orderPopup .content form select option {
          margin: 40px;
          background: rgba(0, 0, 0, 0.3);
          color: #fff;
          text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4); }
      .orderPopup .content form ::placeholder {
        color: white; }
      .orderPopup .content form label {
        color: white; }
      .orderPopup .content form input, .orderPopup .content form textarea {
        width: 100%;
        padding: 5px;
        outline: none;
        background: transparent;
        border: unset;
        border-bottom: 2px solid white;
        color: white;
        margin-bottom: 20px; }
      .orderPopup .content form button {
        padding: 5px 30px;
        background: white;
        outline: none;
        border: none;
        cursor: pointer;
        transition: .4s; }
        .orderPopup .content form button:hover {
          transform: scale(1.05); }

.gallery .wrapper .image {
  width: 150px;
  height: 150px;
  background-size: cover !important; }

.proizvodDetalji {
  text-align: center; }
  .proizvodDetalji button {
    background: #0E74B7;
    color: white;
    border: unset;
    text-align: center;
    padding: 5px 30px;
    font-size: 18px;
    margin: 0 auto;
    cursor: pointer;
    outline: none;
    margin-bottom: 100px; }

.weborders {
  margin: 40px 0; }
  .weborders .webOrderBox {
    width: 100%;
    background: #495c67;
    padding: 30px 5px 15px;
    text-align: center;
    margin-bottom: 30px;
    min-height: 410px; }
    .weborders .webOrderBox h3 {
      font-size: 24px; }
    .weborders .webOrderBox h3, .weborders .webOrderBox p, .weborders .webOrderBox small {
      color: white; }
    .weborders .webOrderBox table {
      margin: 0 auto;
      color: white;
      margin-top: 30px; }
      .weborders .webOrderBox table tr, .weborders .webOrderBox table th, .weborders .webOrderBox table td {
        padding: 3px;
        border: 1px solid white;
        font-size: 14px; }

.errorForm input {
  border: 1px solid #ff4a4a !important;
  margin-bottom: 0 !important; }

.errorForm p {
  color: #ff4a4a;
  text-align: left;
  margin-top: 5px; }
