
$mainFont: 'Rajdhani', sans-serif;

$gradient1: linear-gradient(-25deg, rgba(30, 154, 166, 0.8) 60%, #0e74b7 100%);

$asphaltColor: #495c67;
$blueColor: #0E74B7;
$blueColor2: rgba(30, 154, 166, 0.8);