<div class="navigation" ng-controller="headerController">
    <div class="container">
        <div class="logoDiv float-left" style="cursor: pointer;" ui-sref="home">
            <img src="img/logo/whiteLogo.png" alt="">
        </div>
        <div class="links float-right">
            <ul>
                <li ui-sref="home" ui-sref-active="activeLink">Početna</li>
                <li ui-sref="kupac-proizvodi" ui-sref-active="activeLink">Svi Proizvodi</li>
                <li ui-sref="kupac-porudzbine" ui-sref-active="activeLink">Porudžbine</li>
                <li ng-click="logout()">Logout</li>
            </ul>
        </div>
        <div class="burgerParent float-right" ng-click="burger()">
            <div class="burger">
                <div class="burger1"></div>
                <div class="burger2"></div>
                <div class="burger3"></div>
            </div>
        </div>
    </div>
</div>

<div class="mobileMenu">
    <ul>
        <li ui-sref="home" ui-sref-active="activeLink">Početna</li>
        <li ui-sref="kupac-proizvodi" ui-sref-active="activeLink">Svi Proizvodi</li>
        <li ui-sref="kupac-porudzbine" ui-sref-active="activeLink">Porudžbine</li>
        <li ng-click="logout()">Logout</li>
    </ul>
</div>