<div ng-include="'view/partials/header.html'"></div>

<div class="header aboutHeader" style="background: url('img/about.jpg');">
    <div class="filter">
        <div class="headerTitle">
            <h1>Francuski ležajevi</h1>
        </div>
    </div>
</div>

<div class="section gallery">
    <div class="container">
        <ul>
            <li>
                <div class="wrapper">
                    <div class="image" data-fancybox="gallery" href="img/products/francuski/1.jpg"
                         style="background: url('img/products/francuski/1.jpg')"></div>
                    <p>Fr. ležaj "San" 3</p>
                </div>
            </li>
            <li>
                <div class="wrapper">
                    <div class="image" data-fancybox="gallery" href="img/products/francuski/2.jpg"
                         style="background: url('img/products/francuski/2.jpg')"></div>
                    <p>Fr. ležaj "Hera"</p>
                </div>
            </li>
            <li>
                <div class="wrapper">
                    <div class="image" data-fancybox="gallery" href="img/products/francuski/3.jpg"
                         style="background: url('img/products/francuski/3.jpg')"></div>
                    <p>Fr. ležaj "Makao"</p>
                </div>
            </li>
            <li>
                <div class="wrapper">
                    <div class="image" data-fancybox="gallery" href="img/products/francuski/4.jpg"
                         style="background: url('img/products/francuski/4.jpg')"></div>
                    <p>Fr. ležaj "Pleasure"</p>
                </div>
            </li>

        </ul>
    </div>
</div>

<div ng-include="'view/partials/footer.html'"></div>