<div ng-include="'view/partials/header.html'"></div>

<div class="header aboutHeader" style="background: url('img/about.jpg');">
    <div class="filter">
        <div class="headerTitle">
            <h1>Garniture</h1>
        </div>
    </div>
</div>

<div class="section gallery">
    <div class="container">
        <ul>
            <li>
                <div class="wrapper">
                    <div class="image" data-fancybox="gallery" href="img/products/garniture/1.jpg"
                         style="background: url('img/products/garniture/1.jpg')"></div>
                    <p>GRT "Kocka"</p>
                </div>
            </li>
            <li>
                <div class="wrapper">
                    <div class="image" data-fancybox="gallery" href="img/products/garniture/2.jpg"
                         style="background: url('img/products/garniture/2.jpg')"></div>
                    <p>GRT "Matrix"</p>
                </div>
            </li>
            <li>
                <div class="wrapper">
                    <div class="image" data-fancybox="gallery" href="img/products/garniture/3.jpg"
                         style="background: url('img/products/garniture/3.jpg')"></div>
                    <p>GRT "Luxor"</p>
                </div>
            </li>
            <li>
                <div class="wrapper">
                    <div class="image" data-fancybox="gallery" href="img/products/garniture/4.jpg"
                         style="background: url('img/products/garniture/4.jpg')"></div>
                    <p>GRT "Kalipso"</p>
                </div>
            </li>
            <li>
                <div class="wrapper">
                    <div class="image" data-fancybox="gallery" href="img/products/garniture/5.jpg"
                         style="background: url('img/products/garniture/5.jpg')"></div>
                    <p>GRT "Barbados"</p>
                </div>
            </li>
            <li>
                <div class="wrapper">
                    <div class="image" data-fancybox="gallery" href="img/products/garniture/6.jpg"
                         style="background: url('img/products/garniture/6.jpg')"></div>
                    <p>GRT "Beta Lux"</p>
                </div>
            </li>


            <li>
                <div class="wrapper">
                    <div class="image" data-fancybox="gallery" href="img/products/garniture/7.jpg"
                         style="background: url('img/products/garniture/7.jpg')"></div>
                    <p>GRT "Milano"</p>
                </div>
            </li>
            <li>
                <div class="wrapper">
                    <div class="image" data-fancybox="gallery" href="img/products/garniture/8.jpg"
                         style="background: url('img/products/garniture/8.jpg')"></div>
                    <p>GRT "Fokus"</p>
                </div>
            </li>
            <li>
                <div class="wrapper">
                    <div class="image" data-fancybox="gallery" href="img/products/garniture/9.jpg"
                         style="background: url('img/products/garniture/9.jpg')"></div>
                    <p>GRT "Milenijum"</p>
                </div>
            </li>
            <li>
                <div class="wrapper">
                    <div class="image" data-fancybox="gallery" href="img/products/garniture/10.jpg"
                         style="background: url('img/products/garniture/10.jpg')"></div>
                    <p>GRT "Etida"</p>
                </div>
            </li>
            <li>
                <div class="wrapper">
                    <div class="image" data-fancybox="gallery" href="img/products/garniture/11.jpg"
                         style="background: url('img/products/garniture/11.jpg')"></div>
                    <p>GRT "Rumljanka"</p>
                </div>
            </li>
            <li>
                <div class="wrapper">
                    <div class="image" data-fancybox="gallery" href="img/products/garniture/12.jpg"
                         style="background: url('img/products/garniture/12.jpg')"></div>
                    <p>GRT "Denver"</p>
                </div>
            </li>
            <li>
                <div class="wrapper">
                    <div class="image" data-fancybox="gallery" href="img/products/garniture/13.jpg"
                         style="background: url('img/products/garniture/13.jpg')"></div>
                    <p>GRT "Mega"</p>
                </div>
            </li>
        </ul>
    </div>
</div>

<div ng-include="'view/partials/footer.html'"></div>