<div ng-include="'view/partials/header.html'"></div>

<div class="header aboutHeader" style="background: url('img/about.jpg');">
    <div class="filter">
        <div class="headerTitle">
            <h1>Ležajevi</h1>
        </div>
    </div>
</div>

<div class="section gallery">
    <div class="container">
        <ul>
            <li>
                <div class="wrapper">
                    <div class="image" data-fancybox="gallery" href="img/products/lezajevi/1.jpg"
                         style="background: url('img/products/lezajevi/1.jpg')"></div>
                    <p>Trosed "Beta Lux"</p>
                </div>
            </li>
            <li>
                <div class="wrapper">
                    <div class="image" data-fancybox="gallery" href="img/products/lezajevi/2.jpg"
                         style="background: url('img/products/lezajevi/2.jpg')"></div>
                    <p>Trosed "Beta"</p>
                </div>
            </li>
            <li>
                <div class="wrapper">
                    <div class="image" data-fancybox="gallery" href="img/products/lezajevi/3.jpg"
                         style="background: url('img/products/lezajevi/3.jpg')"></div>
                    <p>Trosed "Bravo"</p>
                </div>
            </li>
            <li>
                <div class="wrapper">
                    <div class="image" data-fancybox="gallery" href="img/products/lezajevi/4.jpg"
                         style="background: url('img/products/lezajevi/4.jpg')"></div>
                    <p>Trosed "Beta Profil"</p>
                </div>
            </li>
            <li>
                <div class="wrapper">
                    <div class="image" data-fancybox="gallery" href="img/products/lezajevi/5.jpg"
                         style="background: url('img/products/lezajevi/5.jpg')"></div>
                    <p>Trosed "Milano"</p>
                </div>
            </li>
            <li>
                <div class="wrapper">
                    <div class="image" data-fancybox="gallery" href="img/products/lezajevi/6.jpg"
                         style="background: url('img/products/lezajevi/6.jpg')"></div>
                    <p>Trosed "Beta Lux elegant"</p>
                </div>
            </li>


            <li>
                <div class="wrapper">
                    <div class="image" data-fancybox="gallery" href="img/products/lezajevi/7.jpg"
                         style="background: url('img/products/lezajevi/7.jpg')"></div>
                    <p>Ležaj "Latino"</p>
                </div>
            </li>
            <li>
                <div class="wrapper">
                    <div class="image" data-fancybox="gallery" href="img/products/lezajevi/8.jpg"
                         style="background: url('img/products/lezajevi/8.jpg')"></div>
                    <p>Dvosed "Klio"</p>
                </div>
            </li>
            <li>
                <div class="wrapper">
                    <div class="image" data-fancybox="gallery" href="img/products/lezajevi/9.jpg"
                         style="background: url('img/products/lezajevi/9.jpg')"></div>
                    <p>Dvosed "Klio kocka"</p>
                </div>
            </li>

        </ul>
    </div>
</div>

<div ng-include="'view/partials/footer.html'"></div>