<div ng-include="'view/partials/header.html'"></div>

<div class="header aboutHeader" style="background: url('img/about.jpg');">
    <div class="filter">
        <div class="headerTitle">
            <h1>Ugaone garniture</h1>
        </div>
    </div>
</div>

<div class="section gallery">
    <div class="container">
        <ul>
            <li>
                <div class="wrapper">
                    <div class="image" data-fancybox="gallery" href="img/products/ugaone/1.jpg"
                         style="background: url('img/products/ugaone/1.jpg')"></div>
                    <p>Ug. Garnitura "Avangarda"</p>
                </div>
            </li>
            <li>
                <div class="wrapper">
                    <div class="image" data-fancybox="gallery" href="img/products/ugaone/2.jpg"
                         style="background: url('img/products/ugaone/2.jpg')"></div>
                    <p>Ug. Garnitura "Taurus"</p>
                </div>
            </li>
            <li>
                <div class="wrapper">
                    <div class="image" data-fancybox="gallery" href="img/products/ugaone/3.jpg"
                         style="background: url('img/products/ugaone/3.jpg')"></div>
                    <p>Ug. Garnitura "Dina"</p>
                </div>
            </li>
            <li>
                <div class="wrapper">
                    <div class="image" data-fancybox="gallery" href="img/products/ugaone/4.jpg"
                         style="background: url('img/products/ugaone/4.jpg')"></div>
                    <p>Ug. Garnitura "Soprano"</p>
                </div>
            </li>
            <li>
                <div class="wrapper">
                    <div class="image" data-fancybox="gallery" href="img/products/ugaone/5.jpg"
                         style="background: url('img/products/ugaone/5.jpg')"></div>
                    <p>Ug. Garnitura "Prestige"</p>
                </div>
            </li>
            <li>
                <div class="wrapper">
                    <div class="image" data-fancybox="gallery" href="img/products/ugaone/6.jpg"
                         style="background: url('img/products/ugaone/6.jpg')"></div>
                    <p>Ug. Garnitura "Milano"</p>
                </div>
            </li>


            <li>
                <div class="wrapper">
                    <div class="image" data-fancybox="gallery" href="img/products/ugaone/7.jpg"
                         style="background: url('img/products/ugaone/7.jpg')"></div>
                    <p>Ug. Garnitura "Sfera"</p>
                </div>
            </li>
            <li>
                <div class="wrapper">
                    <div class="image" data-fancybox="gallery" href="img/products/ugaone/8.jpg"
                         style="background: url('img/products/ugaone/8.jpg')"></div>
                    <p>Ug. Garnitura "Sidney"</p>
                </div>
            </li>
            <li>
                <div class="wrapper">
                    <div class="image" data-fancybox="gallery" href="img/products/ugaone/9.jpg"
                         style="background: url('img/products/ugaone/9.jpg')"></div>
                    <p>Ug. Garnitura "Beta Lux small"</p>
                </div>
            </li>
            <li>
                <div class="wrapper">
                    <div class="image" data-fancybox="gallery" href="img/products/ugaone/10.jpg"
                         style="background: url('img/products/ugaone/10.jpg')"></div>
                    <p>Ug. Garnitura "Denver"</p>
                </div>
            </li>
        </ul>
    </div>
</div>

<div ng-include="'view/partials/footer.html'"></div>