

<div class="loginContainer">
    <div class="content">
        <img src="img/logo/whiteLogo.png" alt="">
        <form autocomplete="off" ng-submit="login()">
            <h4 style="color: white;margin-top: 30px;">{{error}}</h4>
            <div class="form-group">
                <input type="text" placeholder="Username" ng-model="auth.email">
            </div>
            <div class="form-group">
                <input type="password" placeholder="Password"  ng-model="auth.password">
            </div>
            <button>Login</button>
        </form>
    </div>
</div>