<div ng-include="'view/hidden/partials/header.html'"></div>

<div class="header aboutHeader">
    <div class="filter">
        <div class="headerTitle">
            <h1>Porudžbine</h1>
        </div>
    </div>
</div>

<div class="container ">
    <div class="weborders">
        <div class="row">
            <div class="col-md-4" ng-repeat="w in weborders">
                <div class="webOrderBox">
                    <h3>Kreirana: {{w.item.naziv_proizvoda}}</h3>
                    <small>{{w.created_at | date: "dd.MM.yyyy"}}</small>
                    <p>Napomena:
                        <span ng-if="w.napomena_korisnika == null">/</span>
                        <span ng-if="w.napomena_korisnika != null">{{w.napomena_korisnika}}</span>
                    </p>
                    <table ng-if="!w.emptyParts">
                        <tr>
                            <th>Deo proizvoda</th>
                            <th>Materijal</th>
                        </tr>
                        <tr ng-repeat="deo in w.parts">
                            <td>{{deo.naziv}}</td>
                            <td>{{deo.pivot.material}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

