<div ng-include="'view/hidden/partials/header.html'"></div>

<div class="header aboutHeader" style="background: url('{{url}}storage/images/{{product.id}}/{{product.image}}');">
    <div class="filter">
        <div class="headerTitle">
            <h1>{{product.naziv_proizvoda}}</h1>
        </div>
    </div>
</div>

<div class="container proizvodDetalji">
    <div class="row">
        <div class="section gallery" style="padding: 140px 0 0 0;;">
            <div class="container">
                <ul>
                    <li ng-if="product.image != null">
                        <div class="wrapper">
                            <div class="image" data-fancybox="gallery"
                                 href="{{url}}storage/images/{{product.id}}/{{product.image}}"
                                 style="background: url('{{url}}storage/images/{{product.id}}/{{product.image}}')"></div>
                        </div>
                    </li>
                    <li ng-repeat="i in product.images">
                        <div class="wrapper">
                            <div class="image" data-fancybox="gallery"
                                 href="{{url}}/storage/images/{{product.id}}/{{i.filename}}"
                                 style="background: url('{{url}}/storage/images/{{product.id}}/{{i.filename}}')"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <p style="text-align: center;margin-bottom: 50px;">
            {{product.opis_proizvoda}}
        </p>

        <button ng-click="showPopup(product.id, product.naziv_proizvoda)">Poruči</button>
    </div>
</div>

<div class="orderPopup">
    <div class="container">
        <div class="content">
            <div class="closeBtn" ng-click="closePopup()">
                <img src="img/icons/close.png" alt="">
            </div>
            <h2>Porucivanje - {{nazivProizvoda}}</h2>
            <form ng-submit="naruci(orderForm.$valid)" name="orderForm">
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label style="font-weight: bold;font-size: 18px;">Deo proizvoda</label>
                        <input ng-repeat="deo in proizvod.parts" type="text" readonly value="{{deo.naziv}}">
                    </div>
                    <div class="col-sm-6">
                        <label style="font-weight: bold;font-size: 18px;">Materijal</label>
                        <!--<div ng-repeat="deo in weborder.parts"-->
                             <!--&gt;-->
                            <!--<input list="browsers" required name="materijal" ng-model="deo.material"-->
                                   <!--placeholder="&#45;&#45; Materijal &#45;&#45;">-->
                            <!--<datalist id="browsers">-->
                                <!--<option ng-repeat="m in materials.all" value="{{m.naziv_materijala}}">-->
                                    <!--{{m.naziv_materijala}}-->
                                <!--</option>-->
                            <!--</datalist>-->
                        <!--</div>-->

                        <select name="" ng-repeat="deo in weborder.parts" ng-model="deo.material" id="">
                            <option value=""> -- Materijal --</option>
                            <option ng-repeat="m in materials.all" value="{{m.naziv_materijala}}">
                                {{m.naziv_materijala}}
                            </option>
                        </select>
                    </div>
                </div>
                  <div class="row">
                    <div class="form-group col-sm-6">
                        <label style="font-weight: bold;font-size: 18px;">Količina</label>
                        <input type="number" min="1" ng-model="weborder.kolicina">
                    </div>
                    <div class="form-group col-sm-6">
                        <label style="font-weight: bold;font-size: 18px;">Boja štepa</label>
                        <input type="text" ng-model="weborder.boja_stepa">
                    </div>
                </div>
                <div class="form-group">
                    <textarea rows="5" type="text" ng-model="weborder.napomena_kupca" placeholder="Napomena kupca"></textarea>
                </div>
                <button ng-if="!hideBtn">Poruči odmah</button>
                <h2  style="margin-top: 30px;">{{message}}</h2>
            </form>
        </div>
    </div>
</div>

<div ng-include="'view/partials/footer.html'"></div>
