<div class="navigation" ng-controller="headerController">
    <div class="container">
        <div class="logoDiv float-left" style="cursor: pointer;" ui-sref="home">
            <img src="img/logo/whiteLogo.png" alt="">
        </div>
        <div class="links float-right">
            <ul>
                <li ui-sref="home" ui-sref-active="activeLink">Početna</li>
                <li ui-sref="about" ui-sref-active="activeLink">O nama</li>
                <li class="subLink" ui-sref-active="activeLink">
                    <span ui-sref="products">Proizvodi</span>
                    <!--<div class="submenu">-->
                        <!--<ul>-->
                            <!--<li ui-sref="garniture">Garniture</li>-->
                            <!--<li ui-sref="ugaone">Ugaone garniture</li>-->
                            <!--<li ui-sref="lezajevi">Ležajevi</li>-->
                            <!--<li ui-sref="francuski">Francuski ležajevi</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                </li>
                <li ui-sref="contact" ui-sref-active="activeLink">Kontakt</li>
                <li ui-sref="login" ui-sref-active="activeLink">Login</li>
            </ul>
        </div>
        <div class="burgerParent float-right" ng-click="burger()">
            <div class="burger">
                <div class="burger1"></div>
                <div class="burger2"></div>
                <div class="burger3"></div>
            </div>
        </div>
    </div>
</div>

<div class="mobileMenu">
    <ul>
        <li ui-sref="home" ui-sref-active="activeLink">Početna</li>
        <li ui-sref="about" ui-sref-active="activeLink">O nama</li>
        <li ui-sref="products" ui-sref-active="activeLink">Proizvodi</li>
        <li ui-sref="contact" ui-sref-active="activeLink">Kontakt</li>
        <li ui-sref="login" ui-sref-active="activeLink">Login</li>
    </ul>
</div>