<div ng-include="'view/partials/header.html'"></div>

<div class="header aboutHeader" style="background: url('img/about.jpg');">
    <div class="filter">
        <div class="headerTitle">
            <h1>O nama</h1>
        </div>
    </div>
</div>

<div class="section aboutSection">
    <div class="container">
        <p>
            Kompanija "Staff nameštaj" bavi ce proizvodnjom, veleprodajom i maloprodajom tapaciranog nameštaja. Naša
            ponuda sastoji se od: garnitura, ugaonih garnitura, ležajeva, francuskih ležajeva, klub garnitura i taburea.
            Dugi niz godina naši proizvodi zauzimaju istaknuto mesto u trgovini nameštaja širom Srbije. Dugogodišnje
            iskustvo i profesionalnost zaposlednih doprinosi kvalitetu sistema izrade po kome smo prepoznatljivi.
            <br><br>
            “Staff” program sadrži preko 100 elemenata koji se proizvode u više od 100 dezena (štof ili eko koža), sa
            stalnom tendencijom povećavanja proizvodnog programa i izbora dezena. Većina elemenata je montažno
            demontažnog tipa, što olakšava transport i manipulaciju njime, kako zbog unošenja tako i zbog isporuke.
            Predano radimo na ostvarenju svog cilja, a to je je da klijentima ponudimo veliki izbor kvalitetnog, udobnog
            i originalnog nameštaja koji će oplemeniti njihov dom.
        </p>
    </div>
</div>

<div ng-include="'view/partials/footer.html'"></div>