<div ng-include="'view/partials/header.html'"></div>

<div class="header" style="background: url('img/header.jpg')">
    <div class="filter">
        <div class="headerTitle">
            <h1>Nameštaj za idealan dom</h1>
            <p>
                Vaš životni prostor je odraz stila i posebno mesto gde provodite nezaboravne trenutke sa najdražima. Mi
                smo tu da pomognemo da stvorite idealan dom i opremite ga funkcionalnim, kvalitetnim i udobnim
                nameštajem.
            </p>

            <div class="mouse_scroll">
                <div class="mouse">
                    <div class="wheel"></div>
                </div>
                <div>
                    <span class="m_scroll_arrows unu"></span>
                    <span class="m_scroll_arrows doi"></span>
                    <span class="m_scroll_arrows trei"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section ukratkoDiv" style="background: url('img/sectionImage.jpg');">
    <div class="container">
        <h1 class="title">Ukratko o nama</h1>
        <p>
            Kompanija "Staff nameštaj" bavi ce proizvodnjom, veleprodajom i maloprodajom tapaciranog nameštaja. Naša
            ponuda sastoji se od: garnitura, ugaonih garnitura, ležajeva, francuskih ležajeva, klub garnitura i taburea.
        </p>
        <button ui-sref="about">Opširnije</button>
    </div>
</div>

<!--<div class="section coloredSection">-->
    <!--<div class="container">-->
        <!--<h1 class="title">Kategorije</h1>-->
        <!--<div class="row">-->
            <!--<div class="col-md-3">-->
                <!--<div class="box" ui-sref="garniture">-->
                    <!--<img src="img/icons/couch.png" alt="">-->
                    <!--<h3>Garniture</h3>-->
                    <!--<p>Odaberite model i dezen i opustite se na nekoj od naših udobnih garnitura.</p>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="col-md-3">-->
                <!--<div class="box" ui-sref="ugaone">-->
                    <!--<img src="img/icons/ugaona.png" alt="">-->
                    <!--<h3>Ugaone garniture</h3>-->
                    <!--<p>Neka dnevna soba bude spremna za druženje sa prijateljima.</p>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="col-md-3">-->
                <!--<div class="box" ui-sref="lezajevi">-->
                    <!--<img src="img/icons/room-bed.png" alt="">-->
                    <!--<h3>Ležajevi</h3>-->
                    <!--<p>Dnevna soba lako postaje soba za odmor.</p>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="col-md-3">-->
                <!--<div class="box" ui-sref="garniture">-->
                    <!--<img src="img/icons/double-bed.png" alt="">-->
                    <!--<h3>Francuski ležajevi</h3>-->
                    <!--<p>Sve što je potrebno za dobar i miran san.</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div ng-include="'view/partials/footer.html'"></div>