<div ng-include="'view/partials/header.html'"></div>

<div class="header aboutHeader" style="background: url('img/about.jpg');">
    <div class="filter">
        <div class="headerTitle">
            <h1>Kontakt</h1>
        </div>
    </div>
</div>

<div class="coloredSection section kontaktSection">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form novalidate ng-submit="sendMsg(kontaktForma.$valid)" name="kontaktForma">
                    <div class="form-group"
                         ng-class="{ 'error' : kontaktForma.ime.$invalid && (!kontaktForma.ime.$pristine || kontaktForma.$submitted)}">
                        <input type="text" required placeholder="Ime i prezime" name="ime" ng-model="msg.ime">
                        <p ng-if="kontaktForma.ime.$error.required && (!kontaktForma.ime.$pristine || kontaktForma.$submitted)">
                            Molimo unesite Vaše ime.</p>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'error' : kontaktForma.email.$invalid && (!kontaktForma.email.$pristine || kontaktForma.$submitted)}">
                        <input type="email" required placeholder="E-mail" name="email" ng-model="msg.email">
                        <p ng-if="kontaktForma.email.$error.required && (!kontaktForma.email.$pristine || kontaktForma.$submitted)">
                            Molimo unesite Vaš E-mail.</p>
                        <p ng-if="kontaktForma.email.$error.email && (!kontaktForma.email.$pristine || kontaktForma.$submitted)">
                            E-mail nije u odgovarajućem formatu. Molimo unestite E-mail u formatu example@gmail.com</p>
                    </div>
                    <div class="form-group" ng-class="{ 'error' : kontaktForma.poruka.$invalid && (!kontaktForma.poruka.$pristine || kontaktForma.$submitted)}">
                        <textarea cols="30" rows="10" placeholder="Poruka" name="poruka" required ng-model="msg.poruka"></textarea>
                        <p ng-if="kontaktForma.poruka.$error.required && (!kontaktForma.poruka.$pristine || kontaktForma.$submitted)">
                            Molimo unesite Vašu poruku.</p>
                    </div>
                    <button>Pošaljite poruku</button>
                    <p style="text-align: center;margin-top: 10px;color: white;font-size: 24px">
                        {{success}}
                    </p>
                </form>
            </div>
            <div class="col-md-6 basicInfo">
                <ul>
                    <li>
                        <img src="img/icons/phone-call.png" alt="">
                        <p>064/275-28-28</p>
                    </li>
                    <li>
                        <img src="img/icons/phone-call.png" alt="">
                        <p>064/19-67-267</p>
                    </li>
                    <li>
                        <img src="img/icons/mail.png" alt="">
                        <p>proizvodnja@namestajstaff.com</p>
                    </li>
                    <li>
                        <img src="img/icons/placeholder.png" alt="">
                        <p>Topličkih partizanskih odreda bb, 18000 Niš</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="map"></div>


<div ng-include="'view/partials/footer.html'"></div>