<div ng-include="'view/partials/header.html'"></div>

<div class="header aboutHeader" id="proizvodiHeader" style="background: url('img/main-header2.jpg');">
    <div class="filter">
        <div class="headerTitle">
            <h1>Proizvodi</h1>
        </div>
    </div>
</div>

<div class="container-fluid proizvodiKupci">
    <div class="row">
        <div class="col-md-3">
            <div class="categories">
                <ul>
                    <li ng-click="allProducts()">Svi proizvodi</li>
                    <li ng-repeat="k in cats" ng-click="changeCat(k.id)">{{k.naziv_kategorije}}</li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="proizvodi">
                <input class="searchInput" placeholder="Pretraži" type="text" ng-model="search">
                <ul class="proizvodiList">
                    <li ng-repeat="i in items | filter: search" ng-if="!empty && i.sajt_prikaz == 1">
                        <div class="box">
                            <div ui-sref="product ({id: i.id})" ng-if="i.image != null" class="image"
                                 style="background: url('{{url}}storage/thumbnails/{{i.id}}/290x150_{{i.image}}')"
                            ></div>
                            <div ui-sref="product ({id: i.id})" ng-if="i.image == null" class="image"
                                 style="background: url('img/no-photo.png')"
                            ></div>
                            <!--<div class="owl-carousel">-->
                            <!--<div class="image"-->
                            <!--ng-repeat="image in i.images"-->
                            <!--style="background: url('http://staff2-api.ippcentar.com/storage/thumbnails/{{i.id}}/290x150_{{image.filename}}')"-->
                            <!--&gt;</div>-->
                            <!--</div>-->
                            <h4>{{i.naziv_proizvoda}}</h4>
                            <p ng-if="i.opis_proizvoda != null">
                                {{i.opis_proizvoda | limitTo: 50}}
                            </p>
                            <button ui-sref="product ({id: i.id})">Detaljnije</button>
                        </div>
                    </li>
                    <h1 ng-if="empty">Nema rezultata za ovu kategoriju</h1>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="orderPopup">
    <div class="container">
        <div class="content">
            <div class="closeBtn" ng-click="closePopup()">
                <img src="img/icons/close.png" alt="">
            </div>
            <h2>Porucivanje - {{nazivProizvoda}}</h2>
            <form novalidate ng-submit="naruci(orderForm.$valid)" name="orderForm">
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label style="font-weight: bold;font-size: 18px;">Deo proizvoda</label>
                        <input ng-repeat="deo in proizvod.parts" type="text" readonly value="{{deo.naziv}}">
                    </div>
                    <div class="col-sm-6">
                        <label style="font-weight: bold;font-size: 18px;">Materijal</label>
                        <div ng-repeat="deo in weborder.parts"
                             ng-class="{ 'errorForm' : orderForm.materijal.$invalid && (!orderForm.materijal.$pristine || orderForm.$submitted)}">
                            <input list="browsers" required name="materijal" ng-model="deo.material"
                                   placeholder="-- Materijal --">
                            <datalist id="browsers">
                                <option ng-repeat="m in materials.all" value="{{m.naziv_materijala}}">
                                    {{m.naziv_materijala}}
                                </option>
                            </datalist>
                            <p ng-if="orderForm.materijal.$error.required && (!orderForm.materijal.$pristine || orderForm.$submitted)">
                                Molimo izaberite materijal.</p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label style="font-weight: bold;font-size: 18px;">Količina</label>
                    <input type="number" min="1" ng-model="weborder.kolicina">
                </div>
                <div class="form-group">
                    <textarea rows="5" type="text" ng-model="weborder.napomena_korisnika"
                              placeholder="Napomena kupca"></textarea>
                </div>
                <button>Poruči odmah</button>
                <h2 style="margin-top: 30px;">{{message}}</h2>
            </form>
        </div>
    </div>
</div>
