<div ng-include="'view/partials/header.html'"></div>

<div class="header aboutHeader" ng-if="product.image != null" style="background: url('{{url}}storage/images/{{product.id}}/{{product.image}}');">
    <div class="filter">
        <div class="headerTitle">
            <h1>{{product.naziv_proizvoda}}</h1>
        </div>
    </div>
</div>

<div class="header aboutHeader" ng-if="product.image == null" style="background: url('img/no-photo.png');">
    <div class="filter">
        <div class="headerTitle">
            <h1>{{product.naziv_proizvoda}}</h1>
        </div>
    </div>
</div>


<div class="container proizvodDetalji">
    <div class="row">
        <div class="section gallery" style="padding: 140px 0 0 0;;">
            <div class="container">
                <ul>
                    <li ng-if="product.image != null">
                        <div class="wrapper">
                            <div class="image" data-fancybox="gallery"
                                 href="{{url}}storage/images/{{product.id}}/{{product.image}}"
                                 style="background: url('{{url}}storage/images/{{product.id}}/{{product.image}}')"></div>
                        </div>
                    </li>
                    <li ng-repeat="i in product.images">
                        <div class="wrapper">
                            <div class="image" data-fancybox="gallery"
                                 href="{{url}}/storage/images/{{product.id}}/{{i.filename}}"
                                 style="background: url('{{url}}/storage/images/{{product.id}}/{{i.filename}}')"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <p style="text-align: center;margin-bottom: 50px;">
            {{product.opis_proizvoda}}
        </p>
    </div>
</div>

<!-- <div ng-include="'view/partials/footer.html'"></div> -->
